@using MasterISS_Agent_Website.ViewModels.User
@using MasterISS_Agent_Website_Localization
@model AddUserViewModel

<div class="modal-content">
    <div class="modal-header">
        <div class="py-2">
            <span class="text-dark-75 font-weight-bolder d-block font-size-h5">ABC</span>
        </div>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("AddUser", "User", new AjaxOptions { HttpMethod = "POST", OnComplete = "GenericResultUserOperations" }))
        {
            @Html.AntiForgeryToken()

            @Html.LabelFor(m => m.RoleId, new { @class = "text-info col-form-label" })
            @Html.DropDownListFor(m => m.RoleId, (SelectList)ViewBag.RoleList, View.Select, new { @class = "form-control" })

            <div class="error-codes-container" style="display:none">
                <div class="separator separator-dashed mt-2 my-4"></div>
                <div class="text-danger error-codes" align="center"></div>
                <div class="separator separator-dashed mt-2 my-4"></div>
            </div>


            @Html.LabelFor(m => m.UserNameSurname, new { @class = "text-info col-form-label" })
            @Html.EditorFor(m => m.UserNameSurname, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.UserNameSurname), @autocomplete = "off" } })

            @Html.LabelFor(m => m.PhoneNumber, new { @class = "text-info col-form-label" })
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.PhoneNumber), @autocomplete = "off" } })

            @Html.LabelFor(m => m.UserEmail, new { @class = "text-info col-form-label" })
            @Html.EditorFor(m => m.UserEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.UserEmail), @autocomplete = "off" } })

            @Html.LabelFor(m => m.Password, new { @class = "text-info col-form-label" })
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Password), @autocomplete = "off" } })

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">@View.Close</button>
                <button type="submit" class="btn btn-info font-weight-bold">Kullanıcıyı KAydet</button>
            </div> <!--end::Info-->
        }
    </div>
</div>