@using MasterISS_Agent_Website.ViewModels.Customer
@model ListCustomersTaskDetailsViewModel
@{
    ViewBag.Title = "İş Emri Detayları";
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
}

<div class="modal-header">
</div>
@if (ViewBag.ErrorMessage == null)
{
    <div class="modal-body">

        <div class="row g-3">
            <div class="col">
                <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(model => model.CustomerName)</span>
            </div>
            <div class="col">
                <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(model => model.CustomerName)</span>
            </div>
        </div>
        <hr />

        <div class="row g-3">
            <div class="col">
                <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(model => model.Allowence)</span>
            </div>
            <div class="col">
                <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(model => model.Allowence)</span>
            </div>
        </div>
        <hr />

        <div class="row g-3">
            <div class="col">
                <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(model => model.HasModem)</span>
            </div>
            <div class="col">
                <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(model => model.HasModem)</span>
            </div>
        </div>
        <hr />

        <div class="row g-3">
            <div class="col">
                <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(model => model.ModemName)</span>
            </div>
            <div class="col">
                <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(model => model.ModemName)</span>
            </div>
        </div>
        <hr />


        <div class="row text-danger mb-3">
            <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(model => model.TaskUpdates)</span>
        </div>

        @foreach (var item in Model.TaskUpdates)
        {

            <div class="row g-3">
                <div class="col">
                    <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(modelItem => item.FaultCodes)</span>
                </div>
                <div class="col">
                    <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(modelItem => item.FaultCodes)</span>
                </div>
            </div>
            <hr />

            <div class="row g-3">
                <div class="col">
                    <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(modelItem => item.CreationDate)</span>
                </div>
                <div class="col">
                    <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(modelItem => item.CreationDate)</span>
                </div>
            </div>
            <hr />

            <div class="row g-3">
                <div class="col">
                    <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(modelItem => item.Description)</span>
                </div>
                <div class="col">
                    <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(modelItem => item.Description)</span>
                </div>
            </div>
            <hr />

            <div class="row g-3">
                <div class="col">
                    <span class="text-dark flex-root font-weight-bold">@Html.DisplayNameFor(modelItem => item.ReservationDate)</span>
                </div>
                <div class="col">
                    <span class="text-black-50 flex-root font-weight-bold">@Html.DisplayFor(modelItem => item.ReservationDate)</span>
                </div>
            </div>
            <hr />

        }
        <hr />
    </div>
}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage</span>
}
<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" data-bs-dismiss="modal">@MasterISS_Agent_Website_Localization.View.Close</button>
</div>