@using MasterISS_Agent_Website.ViewModels.Customer
@model AddWorkOrderViewModel
@{
    ViewBag.Title = "İş Emri Ata";
}

@if (ViewBag.ErrorMessage == null)
{
    using (Html.BeginForm("AddWorkOrder", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <span class="text-danger">@Html.DisplayFor(m => m.SubscriberName)</span>

        <div class="mb-2 mt-2">
            @Html.LabelFor(m => m.TaskTypes)
            @Html.DropDownListFor(m => m.TaskTypes, (SelectList)ViewBag.TaskTypes, MasterISS_Agent_Website_Localization.View.Select)
            @Html.ValidationMessageFor(m => m.TaskTypes)
        </div>

        <div class="mb-2">
            @Html.LabelFor(m => m.SetupUserId)
            @Html.DropDownListFor(m => m.SetupUserId, (SelectList)ViewBag.ServiceServiceOperators, MasterISS_Agent_Website_Localization.View.Select)
            @Html.ValidationMessageFor(m => m.SetupUserId)
        </div>

        @*<div class="pt-3">
            <label class="checkbox mr-2">
                @Html.EditorFor(m => m.Individual.SameSetupAddressByIndividual, new { htmlAttributes = new { @class = "checkbox" } })
                <span></span>
            </label>
            @Html.LabelFor(m => m.Individual.SameSetupAddressByIndividual)
        </div>*@

        <div class="mb-2">
            @Html.LabelFor(m => m.XDSLTypes)
            @Html.DropDownListFor(m => m.XDSLTypes, (SelectList)ViewBag.XDSLTypes, MasterISS_Agent_Website_Localization.View.Select)
            @Html.ValidationMessageFor(m => m.XDSLTypes)
        </div>

        <div class="mb-2">
            @Html.LabelFor(m => m.HasModem,new { @class= "m-2" })
            <label class="m-2">
                @Html.EditorFor(m => m.HasModem)
                <span></span>
            </label>
        </div>

        <div class="mb-2">
            @Html.LabelFor(m => m.ModemName)
            @Html.EditorFor(m => m.ModemName)
            @Html.ValidationMessageFor(m => m.ModemName)
        </div>

        <div class="mb-2">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        @Html.HiddenFor(m => m.SubscriptionId)

        <input type="submit" value="İş Emri Ata" />
    }
}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage </span>
}