@using MasterISS_Agent_Website.ViewModels.Customer
@model  IEnumerable<ListCustomersTasksViewModel>
@{
    ViewBag.Title = "Müşteriye Ait İş Emirleri";
}

@if (ViewBag.ErrorMessage == null)
{
    if (Model.Count() != 0)
    {
        <section data-info="table section" class="content mt-3">
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped mt-2">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().TaskIssueDate)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().TaskType)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().SetupUserName)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Details)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().CompletionDate)</th>
                                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().AllowenceState)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.TaskIssueDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TaskType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SetupUserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Details)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CompletionDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AllowenceState)</td>
                                    <th>
                                        <span data-bs-target="#modalCenterTaskDetails" data-bs-toggle="modal">
                                            <input value="@MasterISS_Agent_Website_Localization.View.Details" class="btn btn-info get-task-details" dataValueSubsId="@item.SubscriptionID" dataValueTaskId="@item.Id" />
                                        </span>
                                        @*@Html.ActionLink(MasterISS_Agent_Website_Localization.View.Details, "GetCustomerTaskDetails", "Customer", new { subscriptionId = item.SubscriptionID, taskId = item.Id })*@
                                    </th>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        
    }
    else
    {
        <span class="text-danger">@MasterISS_Agent_Website_Localization.View.NoRecordsFound</span>
    }

}
else
{
    <span class="text-danger">@ViewBag.ErrorMessage</span>
}

<div class="modal fade" id="modalCenterTaskDetails" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="task-detail-container">
            </div>
        </div>
    </div>
</div>
@section Javascript{
    <script>
        $(".get-task-details").click(function () {
            var dataValueSubsId = $(this).attr("dataValueSubsId");
            var dataValueTaskId = $(this).attr("dataValueTaskId");
            var postData = { subscriptionId: dataValueSubsId , taskId:dataValueTaskId}
            var url = '@Url.Action("GetCustomerTaskDetails", "Customer")';
            var container = $("#task-detail-container");
            AjaxRequestTypeGetAndReturnHTML(postData, url, container);
        });
    </script>

}
