@using MasterISS_Agent_Website.ViewModels.Home
@using PagedList.Mvc
@using PagedList
@model StaticPagedList<ListAgentPaidBillsViewModel>
@{
    ViewBag.Title = "Ödenmiş Faturalar";
    var search = ViewBag.Search as FilterAgentPaidBillsViewModel ?? new FilterAgentPaidBillsViewModel();
}

@using (Html.BeginForm("GetAgentsPaidBills", "Home", FormMethod.Get, new { @class = "pt-5 search-form" }))
{
    <div class="row">
        <div class="col-3 ml-2">
            @Html.TextBox("CustomerName", search.CustomerName, new { @class = "form-control", @placeholder = "Müşteri Adı ya da Abone Numarası", @autocomplete = "off" })
        </div>

        @*<div class="col-3">
                @Html.LabelFor(m => search.PaymentDayStartDate)
                @Html.TextBox("PaymentDayStartDate", search.PaymentDayStartDate, new { @placeholder = DateTime.Now.ToString("dd.MM.yyyy HH:mm") })
            </div>

            <div class="col-3">
                @Html.LabelFor(m => search.PaymentDayEndDate)
                @Html.TextBox("PaymentDayEndDate", search.PaymentDayEndDate, new { @placeholder = DateTime.Now.ToString("dd.MM.yyyy HH:mm") })
            </div>*@

        <div class="col-3 ml-2">
            <input type="submit" value="Filtrele" class="btn btn-primary" />
            @Html.ActionLink("Filtreyi Sıfırla", "GetAgentsPaidBills", "Home", new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@if (ViewBag.ErrorMessage == null)
{
    <section data-info="table section" class="content mt-3">
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().SubscriberName)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().SubscriberNo)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().IssueDate)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().PayDate)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Description)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Cost)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.SubscriberName)</td>
                                <td>@Html.DisplayFor(modelItem => item.SubscriberNo)</td>
                                <td>@Html.DisplayFor(modelItem => item.IssueDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                                <td>@Html.ActionLink("Makbuz al", "GetBillReceipt", "Home", new { billId = item.BillId }, new { @class = "btn btn-info", @target = "_blank" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    
    if (Model != null && Model.TotalItemCount > 0)
    {
        <div class="card card-custom">
            <div class="card-body py-7">
                <!--begin::Pagination-->
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="d-flex flex-wrap mr-3">
                        @Html.PagedListPager(Model, page => Url.Action("GetAgentsPaidBills", "Home", new
                   {
                       page = page,
                       search.CustomerName
                   }),
                   new PagedListRenderOptions
                   {
                   })
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="text-muted"> Bu sayfada @Model.FirstItemOnPage ile  @Model.LastItemOnPage gösteriliyor</span>
                    </div>
                </div>
                <!--end:: Pagination-->
            </div>
        </div>
    }
}
else
{
    <div class="text-danger mt-5" align="center">
        @ViewBag.ErrorMessage
    </div>
}
