@using MasterISS_Agent_Website.ViewModels.Setup
@model AddTaskStatusUpdateViewModel

<div class="modal-header">
</div>

<div class="modal-body">
    @using (Ajax.BeginForm("UpdateTaskStatus", "Setup", new AjaxOptions { HttpMethod = "POST", OnComplete = "GenericResult" }))
    {
        <div class="error-codes-container" style="display:none">
            <div class="mt-2 my-4"></div>
            <div class="text-danger error-codes" align="center"></div>
            <div class="mt-2 my-4"></div>
        </div>

        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(m => m.FaultCode, new { @class = "col-form-label" })
            @Html.DropDownListFor(m => m.FaultCode, (SelectList)ViewBag.FaultCodes, MasterISS_Agent_Website_Localization.View.Select, new { @class = "form-control" })
        </div>

        <div class="mb-3 reservation-date-container" style="display:none">
            @Html.LabelFor(m => m.ReservationDate, new { @class = "col-form-label" })
            @Html.EditorFor(m => m.ReservationDate, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @placeholder = DateTime.Now.ToString("dd.MM.yyyy HH:mm") } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Description, new { @class = "col-form-label" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        @Html.HiddenFor(m => m.TaskNo)

        <input type="submit" value="@MasterISS_Agent_Website_Localization.View.Submit" class="btn btn-primary" />
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" data-bs-dismiss="modal">@MasterISS_Agent_Website_Localization.View.Close</button>
</div>

