@using MasterISS_Agent_Website_Localization
@model MasterISS_Agent_Website.ViewModels.SignInViewModel
@{
    <title>Giriş Yap</title>
}

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class="center"}))
{
    <h2 style="text-align:center">Giriş Yap</h2>
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <input type="submit" class="btn-primary mt-2" value="@View.SignIn" />
}
<div>
    @ViewBag.ErrorMessage
</div>