@using MasterISS_Agent_Website_Localization
@model MasterISS_Agent_Website.ViewModels.Account.SubUserSignInViewModel
@{
    Layout = null;
    <title>Giriş Yap</title>
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterISS Acentalar</title>
    <link href="~/Content/css/adminlte.min.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <section data-info="login section" class="login-page">
            <div class="login-box">
                <div class="card card-info">
                    <div class="card-header text-center">
                        <a href="javascript:void(0);" class="h1"><strong>MasterISS</strong> Agent</a>
                    </div>

                    @using (Html.BeginForm("SubUserSignIn", "Account", FormMethod.Post, new { @class = "center" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <p class="login-box-msg">Kullanıcı Bilgilerinizi Giriniz</p>
                            <br>

                            <div class="mb-3">
                                <div class="input-group">
                                    @Html.EditorFor(m => m.AdminUsername, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @placeholder = "Acenta Kullanıcı Adı" } })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.AdminUsername)
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @placeholder = "Email" } })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Username)
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @placeholder = "Parola" } })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>

                            <div align="center" class="text-danger">
                                @ViewBag.ErrorMessage
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-8">
                                    <button type="submit" class="btn btn-outline-success btn-block">Giriş Yap</button>
                                </div>
                                <div class="mt-1 ml-1">
                                    <a class="text-black-50" href="@Url.Action("SignIn","Account")">Admin Paneli</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/AllPages/error-messages.js"></script>
    <script src="~/Scripts/AllPages/adminlte.js"></script>
    <script src="~/Scripts/AllPages/all.js"></script>
</body>
</html>